/* Section d'accueil du portfolio*/
#bienvenue {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  COLOR: rgb(255, 0, 0);
  text-align: center;
  justify-content: center;
  z-index: 100;
}

/* Barre de navigation*/
#navbar {
  height: 15vh;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: white;
}

/* Sections de la page d'accueil*/

#about {
  height: 85vh;
  background-color: blue;
}

#work {
  height: 85vh;
  background-color: chocolate;
}

#contact {
  height: 85vh;
  background-color: darkorange;
}

/* Mise en place du scroll-snap*/
.scroller {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-destination: 0 0;
  scroll-snap-type: y mandatory;
  scroll-snap-type: mandatory;
  scroll-padding: 15vh;
}

.scroller section {
  scroll-snap-align: start;
}

